
@{
    ViewBag.Title = "BulkRevision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using WebPayroll.Helper

@{
    ViewBag.Title = "Bulk Salary Revision";
}

<div class="panel panel-info topmar-10">
    <div class="panel-heading">
        @Html.MyActionLink("<span class='fa fa-dashboard fa-1x'> Dashboard</span> ", "Dashboard", "Index", "Home", null, new { @class = "btn btn-info btn-sm" })

        @Html.DropDownList("CompId", new SelectList((ViewBag.comp) as SelectList, "Value", "Text"), new { @class = "search-box" })

        @Html.DropDownList("BranchId", new SelectList((ViewBag.branch) as SelectList, "Value", "Text"), "Select Branch", new { @class = "search-box" })
        @Html.DropDownList("months", new SelectList((ViewBag.Months) as SelectList, "Value", "Text"), "Revision Month", new { @class = "search-box" })
        <i title="Genrate file to fill data" id="help" class="fa fa-question-circle btn btn-success"> Genrate File</i>

        <button id="upload" type="button" class="btn btn-info btn-sm">
            <span class="fa fa-upload"> Select CSV File</span>
            <span id="load" class="fa fa-spin fa-spinner"></span>
        </button>

        <button id="save" type="button" style="display:none" class="btn btn-success btn-sm pull-right">
            <span class="fa fa-floppy-o"></span> Save
            <span id="load1" class="fa fa-spin fa-spinner"></span>
        </button>



        @if (TempData["Message"] != null)
        {
            <div id="message" class="success"> @TempData["Message"] </div>
        }
    </div>
    <div class="panel-body">
        <input type="file" id="UploadImg" multiple style="display:none" />
        <div id="dialog-file" style="display: none"> </div>
        <div id="table"></div>
    </div>
</div>

@*Filtering*@
<script type="text/javascript">
    $(document).ready(function () {

        $('#help').click(function (e) {
            var b = $('#BranchId').val();
            if (b == "") {
                alert("Please Select branch");
                return;
            }
            var url = "/SalaryRevision/GenrateFile?compid=" + $('#CompId').val() + "&branid=" + $('#BranchId').val() + "&month=" + $('#months').val();;
            window.open(url);
            $('#upload').show()
            e.preventDefault();
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#load').hide();
        $('#load1').hide();
        $("#message").fadeIn("Slow").delay(2000).fadeOut("Slow");

        $('#table').jtable({
            title: 'Draft Bulk Salary',
            paging: false,
            pagesize: 3,
            sorting: false,
            defaultSorting: 'Name ASC',
            actions: {
                listAction: '@Url.Action("BulkReviseSalaryList")',
            },
            fields: {
                Id: {
                    title: 'SrNo',
                    width: '1%',
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                SalaryId: {
                    title: 'SalaryId',
                    width: '2%',
                    list: false
                },
                EmpId: {
                    title: 'EmpId',
                    width: '2%',
                    list: false
                },
                EmpCode: {
                    title: 'EmpCode',
                    width: '0.6%',
                },
                EmpName: {
                    title: 'EmpName',
                    width: '0.6%',
                },
                Basic: {
                    title: 'Basic',
                    width: '1%',
                    listClass: 'text-right'
                },
                PF: {
                    title: 'PF',
                    width: '1%',
                    listClass: 'text-right'
                },
                ESI: {
                    title: 'ESI',
                    width: '1%',
                    listClass: 'text-right'
                },
                MonthYear: {
                    title: 'MonthYear',
                    width: '1%',
                    listClass: 'text-right'
                },
                ArrearMonth: {
                    title: 'ArrearMonth',
                    width: '1%',
                    listClass: 'text-right'
                },
            },
            formCreated: function (event, data) {
                data.form.validationEngine();
            },
            formSubmitting: function (event, data) {
                return data.form.validationEngine('validate');
            },
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            }
        });

        $("#upload").click(function (e) {
            $('#load').show();
            e.preventDefault();
            var compid = $("#CompId").val();
            var branid = $("#BranchId").val();
            if (compid == 0) {
                alert("Please select Company!");
                return;
            }
            if (branid == "") {
                alert("Please select Branch!");
                return;
            }
            $("#UploadImg").trigger('click');
        });


        $("#save").click(function (e) {
            e.preventDefault();
            $('#load1').show();
            $.ajax({
                url: "/SalaryRevision/SaveBulk",
                type: "POST",
                processData: false,
                contentType: false,
                success: function (response) {
                    //code after success
                    $('#save').hide();
                    $('#table').jtable('load');
                    alert(response);
                    $('#load1').hide();
                },
                error: function (er) {
                    alert(er);
                }

            });
        });
    });
</script>

<script type="text/javascript">

    $("#UploadImg").change(function () {
        $('#load').show();
        var data = new FormData();
        var files = $("#UploadImg").get(0).files;
        if (files.length > 0) {
            for (i = 0; i < files.length; i++) {
                data.append("MyImages"+i,files[i]);
            }
        }
        $.ajax({
            url: "/SalaryRevision/UploadFile",
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            success: function (response) {
                //code after success
                $('#table').jtable('load');
                $('#load').hide();
                $('#save').show();
                alert(response);
            },
            error: function (er) {
                alert(er);
            }

        });
    });
</script>









