@using WebPayroll.Helper
@{
    ViewBag.Title = "MissingEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info topmar-10">
    <div class="panel-heading">
        @Html.MyActionLink("<span class='fa fa-dashboard fa-1x'> LMS Dashboard</span>", "Dashboard", "Index", "Home", null, new { @class = "btn btn-info btn-sm" })
        <div class="btn-group dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quick Link
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.MyActionLink("<span class='fa fa-calendar-times-o fa-1x'> Leave Details</span>", "Leave Details", "Index", "LeaveDetails", null, new { @class = "btn btn-link btn-sm " })</li>
                <li>@Html.MyActionLink("<span class='fa fa-user fa-1x'> Employee</span>", "Employee", "Index", "Employee", new {area="" }, new { @class = "btn btn-link btn-sm " })</li>
            </ul>
        </div>

        @Html.DropDownList("branch", new SelectList((ViewBag.branch) as SelectList, "Value", "Text"), "Select Branch", new { @class = "search-box" })
        @Html.DropDownList("year", new SelectList((ViewBag.year) as SelectList, "Value", "Text"), new { @class = "search-box" })
        <button id="save" type="button" style="display:none" class="btn btn-success btn-sm">
            <span class="fa fa-save fa-1x"> Save</span>
            <span id="load" class="fa fa-spin fa-spinner"></span>
        </button>
        <i title="Refresh" id="refreshbtn" class="fa fa-refresh fa-1x btn btn-link pull-right"></i>


    </div>
    <div class="panel-body">
        <div id="table"></div>
    </div>
</div>

@*Filtering*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#save').hide();
        $('#load').hide();

        $("#branch").change(function (e) {
            e.preventDefault();
            $('#table').jtable('load', {
                branch: $('#branch').val()
            });
            $('#save').show();
            $('#load').hide();
        });

        $("#save").click(function (e) {
            e.preventDefault();
            var strconfirm = confirm("Are you sure you want to process?");
            if (strconfirm == true) {
                $('#load').show();
                $.ajax({
                    url: "/LeaveDetails/Process",
                    type: "POST",
                    datatype: 'JSON',
                    success: function (response) {
                        //code after success
                        $('#save').hide();
                        alert(response);
                        $('#table').jtable('load', {
                            branch: $('#branch').val()
                        });
                    },
                    error: function (er) {
                        alert(er);
                    }
                });
            }
        });

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#table').jtable({
            title: 'Missing Employee For Leave Details',
            paging: false,
            pagesize: 3,
            sorting: false,
            defaultSorting: 'Name ASC',
            actions: {
                listAction: '@Url.Action("MissingEmpList")',
                updateAction: '@Url.Action("updateMissingEmp")',
            },
            fields: {
                Id: {
                    title: 'Id',
                    width:'1%',
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Year: {
                    title: 'Year',
                    width: '2%',
                    edit: false,
                },
                BranchId: {
                    title: 'Branch',
                    width: '2%',
                    options: '@Url.Action("GetBranchNameOptions", "Branch",new { area = string.Empty }, null)',
                    edit: false,
                },
                EmpName: {
                    title: 'Employee',
                    width: '2%',
                },
                DOJ: {
                    title: 'DOJ',
                    width: '2%',
                    type: 'date',
                    edit: false,
                    display: function (data) {
                        if (data.record.DOJ != null)
                            return moment(data.record.DOJ).format('DD/MMM/YYYY')
                    },
                },
                TotalExp: {
                    title: 'TotalExp',
                    width: '1%',
                    edit: false,
                },
                PaidLeave: {
                    title: 'PaidLeave',
                    width: '2%',
                },
                Extra: {
                    title: 'Extra',
                    width: '2%',
                },
            },
            formCreated: function (event, data) {
                if(data.format)
                data.form.validationEngine();
            },
            formSubmitting: function (event, data) {
                return data.form.validationEngine('validate');
            },
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            }
        });
    });
</script>



